.whole-screen {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events-home {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: 88%;
    position: fixed;
    bottom: 0;
}

.header-row {
    width: 86%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.events-home .header-row h1 {
    font-family: 'Nunito', sans-serif;
    width: 20%;
    font-size: 65px;
    color: #003057;
}

.events-home .header-row .yellow-line {
    height: 0;
    width: 100%;
    border-bottom: Solid 6px #D3A600;
}

.event-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 85%;
    width: 86%;
}
