.attendee-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.attendee-name {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #003057;
}