.my-events {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 966px;
    max-width: none;
    padding: 0 120px;
}

.my-events .header-row h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 65px;
    color: #003057;
}

.my-events .yellow-line {
    height: 0;
    width: 1100px;
    border-bottom: Solid 6px #D3A600;
}

.my-events .header-row {
    width: 1420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.my-events .create-title {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #003057;
}

.new-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003057;

    height: 250px;
    width: 600px;
    padding: 20px;
    border-radius: 50px;
}

.new-event .label {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #F5F5F5;
}

.create-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 150px;
    border-radius: 30px;
    background-color: #DCE2F5;
    margin-top: 10px;

    font-family: 'Nunito', sans-serif;
    font-size: 75px;
    font-weight: 800;
}

.nav-bar {
    color: #003057;
    background-color: #003057;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav-bar h1 {
    font-family: 'Nunito', sans-serif;
    color: white;
}

.direction-elements {
    display: flex;
    flex-direction: row;
}
